---
import ProjectCard from "@components/ProjectCard.astro";
import Master from "@layouts/Master.astro";
const allProjects = await Astro.glob("./projects/*.md*");
---

<Master
	title="Isaac Pollack - Projects"
	description="My chosen works on display in my portfolio, my proudest achievements and my biggest lessons.">
	<div class="grid items-stretch gap-8 md:grid-cols-3 mx-6">
		<!-- Cards -->
		{
			allProjects.map((project) => (
				<ProjectCard
					url={project.url}
					title={project.frontmatter.name}
					image={project.frontmatter.image}
					description={project.frontmatter.description}
					langs={project.frontmatter.langs}
				/>
			))
		}
	</div>
</Master>
