---
const { title, url, description, imageUrl, imageAlt, langs } = Astro.props;
---

<a href={url} aria-label={`link to ${title} project`}>
	<div
		class="border border-slate-400 dark:border-slate-700 flex flex-col h-full p-4 text-gray-700 dark:text-gray-300 bg-gray-200 dark:bg-gray-800 rounded-lg shadow-xl hover:opacity-75 dark:hover:opacity-75 hover:-translate-y-2 duration-300">
		<img
			src={imageUrl}
			class="object-fill h-3/4 w-full rounded"
			alt={imageAlt}
		/>
		<h3 class="text-2xl text-center font-semibold p-2 font-soehne">{title}</h3>
		<p class="p-2 mb-2 font-untitled">{description}</p>
		<div class="text-center justify-content-center flex-nowrap">
			{
				langs.map((languages) => (
					<p class="m-1 inline-block bg-gray-300 dark:bg-slate-700 rounded-full p-2 font-untitled">
						{languages}
					</p>
				))
			}
		</div>
	</div>
</a>
