---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
export interface Props {
	title?: string;
	description?: string;
}
const { title, description } = Astro.props as Props;
const canonicalURL = new URL(Astro.url).href;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Core -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="description" content="Isaac Pollack Portfolio" />
		<meta
			name="keywords"
			content="HTML, CSS, JavaScript, Astro, Netlify, Portfolio"
		/>
		<meta name="author" content="Isaac Pollack" />
		<meta name="robots" content="index, nofollow" />
		<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> -->

		<!-- Google -->
		<meta itemprop="name" content="Isaac Pollack Portfolio" />
		<meta
			itemprop="description"
			content="My portfolio website, created using the Astro framework, TailwindCSS and a little bit of the ol' noggin."
		/>

		<!-- Open Graph -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="ogimage.png" />
		<meta property="og:image:alt" content="Isaac Pollack Portfolio" />
		<meta property="og:site_name" content="Isaac Pollack Portfolio" />
		<meta property="og:locale" content="en_AU" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta name="twitter:site" content="@Isaac_Pollack" />
		<meta name="twitter:creator" content="@Isaac_Pollack" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="ogimage.png" />

		<!-- Astro + Sitemap -->
		<title>{title}</title>
		<meta
			name="google-site-verification"
			content="wYzroSxVYEW1VS0GCiwtLRPld6pYj_IJvH-wk7QTPWY"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
	</head>

	<body
		class="bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-slate-200">
		<!-- Header -->
		<Header />

		<!-- Content -->
		<div class="flex items-center justify-center">
			<div class="container mt-8">
				<main>
					<slot />
				</main>
			</div>
		</div>

		<!-- Footer -->
		<Footer />

		<style is:global>
			html {
				font-family: system-ui, sans-serif;
				--slider-bg: #dddddd;
				--slider-bg-before: #fff;
				--slider-input-bg: #8758ff;
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}

			#styled-svg:hover button svg {
				stroke: white;
			}

			.exit:hover svg {
				stroke: white;
			}

			.accordion-content {
				transition: max-height 0.3s ease-out, padding 0.3s ease;
			}
		</style>
	</body>
</html>
